.MainCommon{
    width:66%;
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:center
}
.ContextCommon{
    width:66%;
    height:66%;
    font-family:'GmarketSansMedium';
    display:flex;
    flex-direction:column;
    justify-content:space-around;
}