@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'naverCoding';
  src: url('./font/D2Coding-Ver1.3-20171129.ttf');
  font-family:'theEmps';
  src: url('./font/THEmpgtR.otf');
  font-family:'theEmpl';
  src: url('./font/THEmpgtL.otf');
  
  font-family: 'GmarketSansMedium';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root{
  --main-bg-color:#737373;
}

body{
  margin:0;
  width:100vw;
}